@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* -- Colors -- */
    /* Primary  */
    --primary-100: #FFF0E9;
    --primary-200: #f3825b;
    --primary: #eb5e27;
    --primary-400: #BC3F0E;
    --primary-500: #752b0e;
    --primary-foreground: #ffffff;

    /* Neutrals  */
    --neutral-100: #F3F4F6;
    --neutral-200: #D4D5D6;
    --neutral: #B6B8BC;
    --neutral-400: #727272;
    --neutral-500: #46433E;
    --neutral-foreground: #ffffff;

    /* Semantic */
    --success-100: #dcfce7;
    --success-200: #86efac;
    --success: #22c55e;
    --success-400: #15803d;
    --success-500: #14532d;
    --success-foreground: #ffffff;

    --warning-100: #fef9c3;
    --warning-200: #fde047;
    --warning: #eab308;
    --warning-400: #a16207;
    --warning-500: #713f12;

    --danger-100: #fee2e2;
    --danger-200: #fca5a5;
    --danger: #F81F1F;
    --danger-400: #b91c1c;
    --danger-500: #7f1d1d;

    --info-100: #dbeafe;
    --info-200: #93c5fd;
    --info: #3b82f6;
    --info-400: #1d4ed8;
    --info-500: #1e3a8a;

    /* -- Typography Sizing -- */
    --h1-size: 32px;
    --h2-size: 24px;
    --h3-size: 20px;
    --h4-size: 16px;
    --p-size: 14px;
    --small-size: 16px;
  }
}

@layer base {

  html {
    font-family: "Inter", sans-serif; /* Set Inter globally */
  }

  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: inherit; /* Ensures body inherits font from html */
  }
}

/* Tailwind component preset styles */
@layer components {
  /* -- Base Styles -- */
  .btn {
    @apply flex items-center justify-center px-4 py-2 rounded-full text-sm font-medium transition duration-200;
  }

  .btn-primary {
    @apply bg-primary text-primary-foreground hover:bg-primary-400 active:bg-primary-500;
  }
}
